.*

*.tsbuildinfo
*.tgz
*.node

!.gitignore
!.prettierignore
!.gitattributes
!.editorconfig
!.npmrc

node_modules/
target/
coverage/
transpiled/
types/
bundled/
out/
bin/

generated/
logs/

!.vscode/
!.github/
